.section4-container{
  width: 100%;
  height: auto;
  position: relative;
  .section4-title{
    padding-top: 3%;
    padding-left: 172px;
    padding-bottom: 1%;
    width: 500px;
  }
  .section4-picture{
    border-top: 1px solid white;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .section4-accordion-block{
    width: 924px;
    display: flex;
    //align-items: center;
    gap: 5%;
    position: absolute;
    top: 35%;
    left: 12%;
  }
  .section4-accordion{
    //position: absolute;
    //top: -12%;
    //left: 7%;
    height: auto;
    width: 924px;
    .section4-accordeon-item{
      margin-top: 50px;
    }
  }

}

.accordeion-title{
  margin-bottom: 25px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.accordion-content{
  background-color: var(--yellow-);
  margin-bottom: 30px;
  padding: 32px 44px 32px 40px;
}