body {
    font-family: var(--font-family);
    background: var(--Black);
    display: inline-flex;
    padding: 0px 0px;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-start;
}

:root {
    --font-family:'Bebas Neue', sans-serif;
    --font-sub: 'Poppins', sans-serif;
    --yellow-: #FFD11B;
    --Black: #0D0C0A;
    --White: #E5E5D6;
    --font-size-big: 200px;
    --font-size-small: 16px;
}


.container {

    width: 100%;

}






