.decoration-container{
  width: 90%;
  height: 600px;
}

.yellow-text {
  color:var(--yellow-);
  font-family: var(--font-family);
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 200px;
  letter-spacing: 2px;
}

.white-text {
  color: var(--White, #E5E5D6);
  font-family: var(--font-family);
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 200px; /* 100% */
  letter-spacing: 2px;
  }


.marquee-infinite {
  width: 1920px;
  padding-top: 30px;
  overflow: hidden;
  height: 250px;
}

.marquee-infinite div {
  display: flex;
  width: 188%;

  animation: marquee-infinite 12s linear infinite;
}
.marquee-infinite h1{
  white-space: nowrap;
  width: 100%;

}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}

